body {
    background-image: none;
    background-size: 100%;
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h2 {
    color: rgba(6, 82, 157, 1);
}

button {
    background-color: rgba(6, 82, 157, 0.873);
    font-weight: 500;
    color: white;
    padding: 14px 18px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 20px;
    min-width: 700px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.container {
    font-family: Arial, sans-serif;
    font-weight: 700;
    color: rgba(6, 82, 157, 1);
    text-align: left;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
}

td,
th {
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    padding: 8px;
}

tbody tr {
    margin-bottom: 20px;
}