<div class="container">
  <h2>Reserve Food</h2>
  <div>
    <h3>Food Name: {{ foodName }} </h3>
  </div>
  <div>
    <h3>Available Amount: {{ amount }} </h3>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="reservedAmount">Reserved Amount:</label>
      <input type="number" id="reservedAmount" name="reservedAmount" [(ngModel)]="reservedAmount">
    </div>
    <button type="submit">Reserve</button>
  </form>
  <div *ngIf="error">
    <p style="color: red;">Reserve failed: {{error}}</p>
  </div>
  <div *ngIf="success">
    <p style="color: green;">Reserve food: {{foodName}} succeeded!</p>
  </div>
</div>