body {
    background-image: none;
    background-size: 100%;
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    padding: 20px;
    min-width: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.container {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: rgb(15, 145, 113);
    text-align: left;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.type>h3 {
    margin-top: -10px;
    font-family: "Sriracha", cursive;
    color: rgb(6, 105, 80);
    font-size: 20px;
    font-weight: 100;
}

.container input {
    display: block;
    /* 使输入框独占一行 */
    width: 100%;
    /* 输入框宽度充满容器宽度 */
    box-sizing: border-box;
    /* 防止边框和内边距撑开容器 */
    margin-bottom: 10px;
    /* 在输入框下方增加一些空间 */
    text-align: left;
    /* 文本在输入框中右对齐 */
}


button {
    background-color: rgb(26, 179, 140);
    font-weight: 500;
    /* 绿色背景 */
    color: white;
    /* 白色文本 */
    padding: 14px 18px;
    /* 内边距 */
    margin: 8px 0;
    /* 外边距 */
    border: none;
    /* 无边框 */
    border-radius: 4px;
    /* 边角圆滑 */
    cursor: pointer;
    /* 鼠标悬停时的指针形状 */
    transition: all 0.3s ease;
    /* 过渡效果 */
    font-size: 15px;
    /* 文字大小 */
}

button:hover {
    background-color: #eece50;
    /* 按钮悬停时的背景色 */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* 悬停时的阴影效果 */
}

input {
    background-color: rgb(216, 242, 236);
    /* 浅灰色背景 */
    text-align: left;
}

input {
    border: 1.5px solid rgb(26, 179, 140);
    border-radius: 0.5rem;
    padding: 8px 8px;
    /* 上下8px，左右10px的内边距 */
    margin: 4px 0 15px 0;
    /* 输入框之间的间距，上下间距5px，无左右间距 */
    font-size: 16px;
    color: rgb(26, 179, 140);
    /* 字体大小 */
    display: block;
    /* 使输入框单独占据一行 */
    width: calc(100% - 22px);
    /* 计算宽度，确保输入框宽度适应父容器，减去的值为边框和内边距的总和 */
    box-sizing: border-box;
    /* 确保边框和内边距的宽度包含在width内 */
}