<h1>Welcome, {{userId}}! </h1>

<div *ngIf="responseData && responseData.success">
  <h2>Available Food</h2>
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Food Type</th>
        <th>Food Ingredients</th>
        <th>Amount</th>
        <th>Supplier</th>
        <th>Supplier Phone</th>
        <th>Supplier Email</th>
        <th>Supplier Address</th>
        <th>Reserve</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of responseData.foods">
        <td>{{ item.foodName }}</td>
        <td>{{ item.foodType }}</td>
        <td>{{ item.foodIngredients }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.supplierName }}</td>
        <td>{{ item.supplierPhone }}</td>
        <td>{{ item.supplierEmail }}</td>
        <td>{{ item.supplierAddress }}</td>
        <td><a [routerLink]="['/reserve', userId, item.foodName, item.supplierUsername, item.supplierType, item.amount]">Reserve</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="error">
  <p style="color: red;">View Failed: {{ error }}</p>
</div>
