<h1>Welcome, {{userId}}! </h1>

<div *ngIf="responseData && responseData.success">
  <div class="title1">
    <h2>Available Food</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Food Type</th>
        <th>Food Ingredients</th>
        <th>Amount</th>
        <th>Restaurant</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Reserve</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of responseData.foods">
        <td>{{ item.foodName }}</td>
        <td>{{ item.foodType }}</td>
        <td>{{ item.foodIngredients }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.restName }}</td>
        <td>{{ item.restPhone }}</td>
        <td>{{ item.restEmail }}</td>
        <td>{{ item.restAddress }}</td>
        <td><a [routerLink]="['/reserve', userId, item.foodName, item.restUsername, item.amount]">Reserve</a></td>
      </tr>
    </tbody>
  </table>

  <div class="title2">
    <h2>Activity</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Organization</th>
        <th>Contact Name</th>
        <th>Contact Phone</th>
        <th>Contact Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of responseData.activities">
        <td>{{ item.activityName }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.startTime }}</td>
        <td>{{ item.endTime }}</td>
        <td>{{ item.orgName }}</td>
        <td>{{ item.contactName }}</td>
        <td>{{ item.contactPhone }}</td>
        <td>{{ item.contactEmail }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="previousReservation && previousReservation.success">
  <div class="title3">
    <h2>Reservation History</h2>
  </div>

  <table>
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Customer Name</th>
        <th>Restaurant Name</th>
        <th>Food Name</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of previousReservation.orders">
        <td>{{ item.orderNum }}</td>
        <td>{{ item.cusName }}</td>
        <td>{{ item.restName }}</td>
        <td>{{ item.foodName }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.status }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="error">
  <p style="color: red;">View Failed: {{ error }}</p>
</div>

<div class="title4">
  <h2>Feedback</h2>
</div>
<form (ngSubmit)="onFeedbackSubmit()">
  <div class="feedback">
    <label for="type">Type:</label>
    <input type="text" id="type" name="type" [(ngModel)]="type">
    <label for="info">Info:</label>
    <textarea id="info" name="info" [(ngModel)]="info" rows="5"></textarea>
  </div>
  <button type="submit">Submit</button>
</form>
<div *ngIf="feedbackerror">
  <p style="color: red;">Submit feedback failed: {{feedbackerror}}</p>
</div>
<div *ngIf="success">
  <p style="color: green;">Submit feedback succeeded!</p>
</div>