<body>
  <div class="container">
    <div class="button">
      <button (click)="redirectToLogin()">Login</button>
      <button (click)="redirectToRegister()">Register</button>
      <button (click)="redirectToMaintenance()">Contact me</button>
      <button (click)="redirectToFaqs()">FAQs</button>
      <button (click)="redirectToJoinUs() ">Join us</button>
      <button (click)="redirectToDonation()">Donation</button>
    </div>
    <div *ngIf="error">
      <p style="color: red;">View Maintenance Failed: {{ error }}</p>
    </div>
  </div>
</body>